# Core
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.2
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
matplotlib==3.8.4
seaborn==0.13.2
jupyter==1.0.0
ipykernel==6.29.4
python-dotenv==1.0.1

# Dev / CI
pytest==8.2.0
pytest-cov==5.0.0
flake8==7.0.0
black==24.4.2
isort==5.13.2